<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="James&apos; Student Progress App"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppDark">

        <receiver
            android:name=".MyReceiverCourses"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".MyReceiverAssessments"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".AddTermActivity"
            android:exported="false"
            android:label="Add Term"
            android:parentActivityName=".DashboardActivity" />
        <activity
            android:name=".EditTermActivity"
            android:exported="false"
            android:label="Edit Term"
            android:parentActivityName=".TermDetailsActivity" />
        <activity
            android:name=".AddCourseActivity"
            android:exported="false"
            android:label="Add Course"
            android:parentActivityName=".TermDetailsActivity" />
        <activity
            android:name=".EditCourseActivity"
            android:exported="false"
            android:label="Edit Course"
            android:parentActivityName=".CourseDetailsActivity" />
        <activity
            android:name=".AddAssessmentActivity"
            android:exported="false"
            android:label="Add Assessment"
            android:parentActivityName=".CourseDetailsActivity" />
        <activity
            android:name=".EditAssessmentActivity"
            android:exported="false"
            android:label="Edit Assessment"
            android:parentActivityName=".ViewAssessmentActivity" />
        <activity
            android:name=".ViewAssessmentActivity"
            android:exported="false"
            android:label="View Assessment"
            android:parentActivityName=".CourseDetailsActivity" />
        <activity
            android:name=".TermDetailsActivity"
            android:exported="false"
            android:label="Term Details"
            android:parentActivityName=".DashboardActivity" />
        <activity
            android:name=".CourseDetailsActivity"
            android:exported="false"
            android:label="Course Details"
            android:parentActivityName=".TermDetailsActivity" />
        <activity
            android:name=".DashboardActivity"
            android:exported="false"
            android:label="Dashboard" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>